@tailwind base;
@tailwind components;
@tailwind utilities;

.comment-form {
    border: solid 1px black;
}

.comment-btn{
    left: 0;
    position: fixed;
}

/* .comment-section{
    display: flex;
    flex-direction: column;
    top:0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position:fixed;
}

.comment-bar{
    display:flex;
    flex-direction: column;
    top: 0;
    overflow-y: scroll;
    
} */